.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 20%;
  width: 96%;
  padding: 2%;
  background-color: rgb(232, 226, 226);
  overflow: auto;
}

div Input {
  height: 28px;
    width: 100px;
    color: rgb(164, 8, 236);
}

@media screen and (max-width: 768px) {
  .filter {
  flex-direction: column;
  justify-content: space-evenly;
  }

  .button {
    margin-top: 20px
  }

}