.navbar {
  display: flex;
  /* margin: auto; */
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid rgb(80, 27, 205);
  padding: 1%;
  position: sticky;
  top: 0;
  background-color: rgb(40, 77, 179);
  overflow: auto;
}

.start {
  display: flex;
  justify-content: space-between;
  width: 15%;
  flex-wrap: wrap;
}
.estatery {
  color: white;
  font-size: 25px;
  /* margin: 0% 0% 1% 2%; */
}

.favorite {
  font-style: none;
  font-size: 20px;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  flex-wrap: wrap;
}

.end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.buy {
  color: white;
  
}
.buy > button{
  height: 40px;
  width: 60px;
  background-color: rgb(238, 232, 240);
  border-radius: 10px;
}

.rent {
  color: white;
}

.rent > button {
  height: 40px;
  width: 60px;
  background-color: rgb(238, 232, 240);
  border-radius: 10px;
}

.sell {
  color: white; 
}

.sell > button{
  height: 40px;
  width: 60px;
  background-color: rgb(238, 232, 240);
  border-radius: 10px;
}


.manageproperty {
  color: white;
}

.manageproperty > select {
  height: 40px;
  width: 130px;
  background-color: rgb(238, 232, 240);
  border-radius: 10px;
}
.resources {
  color: white;
}

.resources > select {
  height: 40px;
  width: 100px;
  background-color: rgb(238, 232, 240);
  border-radius: 10px;
}

.login {
  color: white;
}

.signup {
  color: rgb(255, 255, 255);
}
